body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color:#cde6e9;

}

header {
    background: #cde6e9;
    color: black;
    padding: 25%;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

section {
    padding: 28%;

    background-color: rgba(151, 180, 246);
    margin: 0;
    border: 1px solid #ddd;
    text-align: center;
}



section div div a{
    color: whitesmoke;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 15%;
    background-color:#cde6e9;
    color:black;
    position: relative;
    bottom: 0;
    width: 100%;
}


.site-footer h6
{
    
  color:#0D6903;
  font-size:30px;
  text-transform:uppercas;
  margin-top:5px;
  letter-spacing:2px;
}
.site-footer a
{
  color:#0d5e4d;
  text-decoration: none;
}
.site-footer a:hover
{
  color:#2ec01e;
  text-decoration:none;
}



.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none; /* Ocultar el botón por defecto */
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.scrollToTop:hover {
    background-color: #0056b3;
}

