body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    

}

header {
    background-color:#d6eaf8 ;
    color: black;
    padding: 25%;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

.Explora a:hover{
    color:#2ec01e;
    text-decoration: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

section {
    padding: 28%;
    background-color: #eaf2f8 ;
    margin: 0;
    border: 1px solid #ddd;
    text-align: center;
}



section div div a{
    color: whitesmoke;
    text-decoration: none;
}


footer {
    text-align: center;
    background-color: #e8f8f5;
    padding: 150px;
    color:black;
    position: auto;
    bottom: 0;
    width: 100%;
}


.site-footer h6
{
    
  color:#0D6903;
  font-size:30px;
  text-transform:uppercas;
  margin-top:5px;
  letter-spacing:2px;
}
.site-footer a
{
  color:#0d5e4d;
  text-decoration: none;
}
.site-footer a:hover
{
  color:#2ec01e;
  text-decoration:none;
}

.copyright-text {
    position: relative;
    padding: 50px;
}



.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none; /* Ocultar el botón por defecto */
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.scrollToTop:hover {
    background-color: #0056b3;
}

